
   <div class="main">
    <div class="parent">
      <div class="child">
        <label class="form-label">Enter Name on card</label>
        <input type="text" class="form-control" id="ownerName" [(ngModel)]="cardName" name="t1">
      </div>
      <div class="child">
        <label for="cvv" class="form-label">CVV</label>
        <input type="text" class="form-control" id="cvv" [(ngModel)]="cvv" name="t2">
      </div>
    </div>
    <div class="parent">
      <div class="child">
        <label for="cardNumber" class="form-label">Card Number</label><br>
        <input type="text" class="form-control" id="cardNumber" [(ngModel)]="cardNumber" name="t3">
      </div>
      <div class="child1">
        <label for="expDate" class="form-label">Exp Date</label>
        <div class="child">
          <select name="months" id="months">
            <option value="jan">Jan</option>
            <option value="feb">Feb</option>
            <option value="feb">Mar</option>
            <option value="feb">Apr</option>
            <option value="feb">May</option>
            <option value="feb">Jun</option>
            <option value="feb">Jul</option>
            <option value="feb">Aug</option>
            <option value="feb">Sep</option>
            <option value="feb">Oct</option>
            <option value="feb">Nov</option>
            <option value="feb">Dec</option>
          </select>
          <select name="years" id="years">
            <option value="2022">2022</option>
            <option value="2021">2021</option>
            <option value="2021">2023</option>
            <option value="2021">2024</option>
            <option value="2021">2025</option>
            <!-- Add more years here -->
          </select>
        </div>
      </div>
    </div>
    <div class="button">
      <button (click)="redirectToNextPage()" type="button" class="btn btn-primary"
        >Confirm</button>
      <h3>{{message}}</h3>
    </div>