<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card" style="width: 350px;">
        <div class="card-header">
            <h5 class="card-title">Admin Login</h5>
        </div>
        <div class="card-body">
            <form (ngSubmit)="login()" #loginForm="ngForm">
                <div class="mb-3">
                    <label for="adminName" class="form-label">Username</label>
                    <input type="text" class="form-control" id="adminName" name="adminName" [(ngModel)]="adminName"
                        required #adminNameField="ngModel">
                    <div *ngIf="adminNameField.invalid && (adminNameField.dirty || adminNameField.touched)"
                        class="text-danger">
                        Username is required.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password"
                        required #passwordField="ngModel">
                    <div *ngIf="passwordField.invalid && (passwordField.dirty || passwordField.touched)"
                        class="text-danger">
                        Password is required.
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
                <div class="error-message " *ngIf="errorMessage">{{ errorMessage }}</div>
                <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
            </form>
        </div>
        <h1>{{message}}</h1>

        <div class="card-footer">
            <p class="text-center mb-0">
                <a href="/adminregister">Register</a>
            </p>
        </div>
    </div>
</div>
