<div class="container-fluid p-5 mt-5 bg-primary text-white text-center">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h2>Filters</h2>
                    <p>Showing 80 flights</p>

                    <hr>
                    <div class="departure">
                        <h6 style="margin-left: 10px;">Departure</h6>
                        <button type="button" class="btn btn-primary">Before 6AM</button>
                        <button type="button" class="btn btn-primary">6AM - 12PM</button><br><br>
                        <button type="button" class="btn btn-primary">12PM - 6PM</button>
                        <button type="button" class="btn btn-primary">After 6PM</button>
                    </div>
                    <hr>
                    <div class="card-content m-1 p-2">
                        <h6>Stops</h6>
                        <button type="button" class="btn btn-primary">Direct</button>
                        <button type="button" class="btn btn-primary">1 Stop</button>
                        <button type="button" class="btn btn-primary" style="margin-top: 10px;">2+ Stops</button>
                    </div>
                    <hr>
                    <div class="card-content m-1 p-2">
                        <div class="Price">
                            <h6>Price</h6>
                            <!--<input type="range" style="width: 200px;" min="1" max="100" value="50">-->
                            <!-- new changes...!!! -->
                            <input type="range" style="width: 200px;" min="1" max="100"
                                [(ngModel)]="selectedPriceRange" />
                            <!--<button type="button" class="btn btn-primary" (click)="filterFlightsByPrice()">Apply Price Filter</button>-->
                            <input type="range" style="width: 200px;" min="1" max="100" [(ngModel)]="selectedPriceRange"
                                (input)="filterFlightsByPrice()" />


                            <p style="text-align: left;">
                                
                                <span style="float: right; margin-right: 25px;"></span>
                            </p>
                            <hr>
                        </div>
                        <div class="Price">
                            <h6>Onward Duration</h6>
                            <input type="range" style="width: 200px;" min="1" max="100" value="50">
                            <p style="text-align: left;">
                                2h 00m
                                <span style="float: right; margin-right: 25px;">13h 05m</span>
                            </p>
                        </div>
                        <hr>
                        <div class="container">
            
                            <form>
                                <div *ngFor="let airline of preferredAirlines">

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="airline.selected"
                                            name="uselectedFlight" [value]="airline.name">{{airline.name}}
                                        <img src="./images/air_india_express.png" alt="">
                                    </div>
                                </div>
                                <div>
                                    <br>
                                    <button type="button" style="margin-top: 10px;" class="btn btn-primary"
                                        (click)="selectPreferredAirline()">View all</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h4 style="margin-left: 10px;">Sort By</h4>
            <div class="card">
                <table style="border: collapse;">
                    <tr>
                        <td>DEPARTURE
                            <br>
                            <span>earliest @ 02:00</span>
                        </td>
                        <td>DURATION
                            <br>
                            <span>fastest @ 2hrs 00m</span>
                        </td>
                        <td>ARRIVAL
                            <br>
                            <span>Thu, 16 Nov @ 04:15</span>
                        </td>
                        <td>
                            <div class="nav-item dropdown">
                                <select name="cars" id="cars" [(ngModel)]="selectedSortOption" (change)="sort()">
                                    <option value="asc">Price</option>
                                    <option value="asc">ASC</option>
                                    <option value="dsc">DSC</option>
                                </select>
                            </div>
                            
                            
                        </td>
                        <td>BEST
                            <br>
                            <span>2HRS 10M, 0 Stops - 7,445</span>
                        </td>
                    </tr>
                </table>
            </div>
            <br><br>
            <div class="card">
                <!-- <table style="border: collapse;">
                    <tr>
                        <td>
                            <img src="./air_india.png">
                            Indigo
                            <br>
                            <span>DEL, New Delhi, India</span>
                            <p>19:15</p>
                        </td>
                        <td>
                            <br>
                            <span>2h 05m</span>
                        </td>
                        <td>BOM Mumbai, India
                            <br>
                            <span>21:20</span>
                        </td>
                        <td>Rs. 8,578</td>
                        <td>
                            <button type="button" class="btn btn-success">
                                <a style="text-decoration: none; color: white;" href="/review">Book</a>
                            </button>
                        </td>
                    </tr>
                </table> -->
                <table>
                    <thead>
                        <tr>
                            <th>Flight No</th>
                            <th>Flight Name</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Departure</th>
                            <th>Arrival</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let flight of filteredFlights">
                            <td>{{ flight.flightId }}</td>
                            <td>{{flight.flightName}}</td>
                            <td>{{ flight.from }}</td>
                            <td>{{ flight.to }}</td>
                            <td>{{ flight.departureTime }}</td>
                            <td>{{ flight.arrivalTime }}</td>
                            <td>{{ flight.price }}</td>
                            <td>
                                <button type="button" class="btn btn-success" (click)="selectedItem(flight)">
                                    <a style="text-decoration: none; color: white;">Book</a>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>