#nav-bar {
    color: rgb(16, 16, 16);
    display: flex;
    border: 1px solid black;
    background-color: rgb(240, 241, 244);
}
#nav-bar h1{
    margin-top: 10px;
}

#nav-content{
    margin-left: 27px;
    padding: 10px;
    margin-top: 20px;

}

 a {
    color: rgb(12, 12, 12);
    text-decoration: none;
 }

#user {
    display: flex;
    margin-top: 16px;
    margin-left: 600px;
}
#user1{
    display: flex;
    margin:17px;
}
#user button{
    margin-top: 10px;
    width: 75px;
    height: 40px;
}


.coloredbox1 {
    border-radius: 5px;
    background-color: rgb(231, 237, 235);
    padding: 10px;
    margin-top: 5px;
}

.coloredbox2 {
    border-radius: 5px;
    background-color: rgb(231, 237, 235);
    padding: 10px;
    margin-top: 5px;
}

.coloredbox3 {
    border-radius: 5px;
    background-color: rgb(231, 237, 235);
    padding: 10px;
    margin-top: 5px;
}

.coloredbox4 {
    border-radius: 5px;
    background-color: rgb(231, 237, 235);
    padding: 10px;
    margin-top: 5px;
}
#table1{
    margin-top: 5px;
    background-color: rgb(231, 237, 235);
    
}
