<p>admindashord works!</p>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="box coloredbox1">
                <i class="bi bi-people"></i>
                <p>Total Passangers</p>
                <p>250</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box coloredbox2">
                <i class="bi bi-cash-coin"></i>
                <p>Amount</p>
                <p>$2000</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box coloredbox3">
                <i class="bi bi-airplane"></i>
                <p>Flights</p>
                <p>12</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box coloredbox4">
                <i class="bi bi-airplane-engines"></i>
                <p>Avaliable Airlines</p>
                <p>20</p>
            </div>
        </div>
    </div>
    <div id="table1">
    <h3>Today's Flights</h3>
    
        <table >
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Arrival</th>
                <th scope="col">Departure</th>
                <th scope="col">Destination</th>
                <th scope="col">Airlines</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>time</td>
                <td>time</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td><button class="edit-button">Edit</button>
                    <button class="delete-button">Delete</button>
                </td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td>time</td>
                <td>time</td>
                <td>@fat</td>
                <td>@mdo</td>
                <td><button class="edit-button">Edit</button>
                    <button class="delete-button">Delete</button>
                </td>

              </tr>
              <tr>
                <th scope="row">3</th>
                <td>time</td>
                <td>time</td>
                <td>@twitter</td>
                <td>@mdo</td>
                <td><button class="edit-button">Edit</button>
                    <button class="delete-button">Delete</button>
                </td>

              </tr>
            </tbody>
          </table>
    </div>
</div>