
<div>
    <form class="container mt-5">
        <h1 class="text-center">Registration Form</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="title">Title</label>
                    <select class="form-select" id="title">
                        <option value="volvo"></option>
                        <option value="saab">Mr</option>
                        <option value="opel">Mrs</option>
                        <option value="audi">Miss</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName">
                </div>
                <div class="mb-3">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName">
                </div>
                <div class="mb-3">
                    <label for="email">Email Id</label>
                    <input type="text" class="form-control" id="email">
                </div>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="mb-3">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword">
                </div>
                <div class="mb-3">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input type="date" class="form-control" id="dateOfBirth">
                </div>
                <div class="mb-3">
                    <label for="phone">Phone No</label>
                    <input type="text" class="form-control" id="phone">
                </div>
                <button type="button" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </form>
</div>