<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Add Flight</h2>
        </div>
        <div class="card-body">
            <form class="row g-3" (ngSubmit)="submitForm()">
                <div class="col-md-6">
                    <label for="airline_id" class="form-label">Select Airline</label>
                    <select class="form-select" id="airline_id" name="airline_id" [(ngModel)]="flights.airline_id">
                        <option value="from">Select</option>
                        <option value="1">IndiGO</option>
                        <option value="2">SpiceJet</option>
                        <option value="3">VISTARA</option>
                        <option value="4">AIR-INDIA</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="from" class="form-label">From</label>
                    <select class="form-select" id="from" name="from" [(ngModel)]="flights.from">
                        <option value="from">Select</option>
                        <option value="Mumbai">BOM - Mumbai</option>
                        <option value="New Delhi">DEL - New Delhi</option>
                        <option value="Bengaluru">BLR - Bengaluru</option>
                        <option value="Kolkata">KOL - Kolkata</option>
                        <option value="Raipur">RPR - Raipur</option>
                        <option value="Patna">Patna</option>
                        <option value="Hyderabad">HYD - Hyderabad</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="to" class="form-label">To</label>
                    <select class="form-select" id="to" name="to" [(ngModel)]="flights.to">
                        <option value="time">Select</option>
                        <option value="New Delhi">DEL - New Delhi</option>
                        <option value="Hyderabad">HYD - Hyderabad</option>
                        <option value="Raipur">RPR - Raipur</option>
                        <option value="Patna">Patna</option>
                        <option value="Bengaluru">BLR - Bengaluru</option>
                        <option value="Kolkata">KOL - Kolkata</option>
                        <option value="Mumbai">BOM - Mumbai</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label for="depart" class="form-label">Depart-Time</label>
                    <input type="datetime-local" class="form-control" id="depart" name="depart"
                        [(ngModel)]="flights.departureTime">
                </div>

                <div class="col-md-6">
                    <label for="arrive" class="form-label">Arrival-Time</label>
                    <input type="datetime" class="form-control" id="arrive" name="arrive"
                        [(ngModel)]="flights.arrivalTime">
                </div>

                <div class="col-md-6">
                    <label for="arrive" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" name="price" [(ngModel)]="flights.price">
                </div>
                <div class="col-12">
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>