<body>
    <div class="container">
       <h1>Confirm Your Payment</h1>
       <div class="first-row">
        <div class="owner">
             <h3 id="ow">Owner</h3>
             <div class="input-field">
              <input id="i1" type="text" [(ngModel)]=ownerName name="t1">
             </div>
        </div>
        <div class="cvv">
          <h3 id="cv">CVV</h3>
          <div class="input-field">
           <input  id="i2" type="text"  [(ngModel)]=cvv name="t2">
          </div>
        </div>
       </div>
       <div class="second-row">
        <div class="card-number">
             <h3 id="cn">Card Number</h3>
             <div class="input-field">
              <input type="text" [(ngModel)]=cardNumber name="t3">
             </div>
        </div>
       </div>
       <div class="third-row">
           <h3 id="ed">Exp Date</h3>
           <div class="selection">
            <div class="date">
                 <select name="months" id="months">
                  <option value="jan">jan</option>
                  <option value="feb">Feb</option>
                  <option value="Mar">Mar</option>
                  <option value="Apr">Apr</option>
                  <option value="May">May</option>
                  <option value="Jun">June</option>
                  <option value="july">july</option>
                  <option value="Aug">Aug</option>
                  <option value="Sep">Sep</option>
                  <option value="Oct">Oct</option>
                  <option value="Nvm">Nov</option>
                  <option value="Dec">Dec</option>
                 </select>
                 <select name="year" id="years">
                  <option value="2022">2020</option>
                  <option value="2019">2019</option>
                  <option value="2018">2018</option>
                  <option value="2017">2017</option>
                  <option value="2016">2016</option>
                  <option value="2015">2015</option>
                 </select>
            </div>
            <div class="cards">
              <img src="/visa.png" alt="">
              <img src="/visa.png" alt="">
              <img src="/visa.png" alt="">
            </div>
           </div>
       </div>  
       <!-- <a href="##" id="b1">Confirm</a>  -->
       <button type="button" style="width: 669px;padding: 13px;background-color: palegoldenrod;"  [disabled]="attmpts >= 3">Confirm</button>
       <h3>{{message}}</h3>   
    </div>
  </body>
  
