
<nav class="container-fluid bg-light">
    <div class="container d-flex flex-md-row justify-content-between">
        <div id="nav-btn">
            <div class="btn btn-primary fw-bold">Flights</div>
            <div class="btn btn-primary fw-bold">Hotels</div>
            <div class="btn btn-primary fw-bold">Trains</div>
            <div class="btn btn-primary fw-bold">Bus</div>
            <div class="btn btn-primary fw-bold">Cabs</div>
        </div>
        <div class="d-none d-xl-flex align-items-center">
          <h5>Hii User <i class="bi bi-person"></i> &nbsp;</h5>
          <button type="button" class="btn btn-primary" ><a href="/login" style="color: rgb(253, 250, 250);">Login</a></button>

        </div>
    </div>
</nav>