<nav class="container-fluid bg-dark bg-gradient text-white">
    <div class="d-flex justify-content-between align-items-center">
      <div id="nav-btn" class="d-flex align-items-center">
        <h3>letsfly</h3>
        <a href="#" class="btn btn-primary fw-bold mx-2 black-text-on-hover">Book Flight</a>
        <a href="#" class="btn btn-primary fw-bold mx-2 black-text-on-hover">Home</a>
        <a href="/admindash" class="btn btn-primary fw-bold mx-2 black-text-on-hover">Contact</a>
      </div>
      <div class="d-none d-xl-flex">
        <h5 *ngIf="loggedInUser">Welcome, {{loggedInUser.userName}} <a href="/userprofile"> <i class="bi bi-person"></i> </a> &nbsp;</h5>
        <button (click)="toggleLoginComponent()" type="button" class="btn btn-primary" *ngIf="!loggedInUser">Login</button>
        <button (click)="logout()" type="button" class="btn btn-primary" *ngIf="loggedInUser">Logout</button>
      </div>
    </div>
  </nav>
  
  