<div class="container mt-5">
  <h2>User Profile</h2>
  <form class="d-flex mt-5 mx-2 align-items-center">
    <div class="row d-flex">
      <div class="col-md-6">
        <div class="user-info-box d-flex">
          <div class="form-group">
            <label for="username">
              <h5>Name:  </h5>
            </label>
            <p>{{user.userName}}</p>
          </div>
          <div class="form-group">
            <label for="email">
              <h5>Email:  </h5>
            </label>
            <p>{{user.email}}</p>
          </div>
          <div class="form-group">
            <label for="phone">
              <h5>Phone Number:  </h5>
            </label>
            <p>{{user.phone}}</p>
          </div>
          <div class="form-group">
            <label for="dob">
              <h5>Date of Birth:  </h5>
            </label>
            <p>{{user.dob}}</p>
          </div>
        </div>
      </div>
      <div class="">
        <div class="card-header">
          <h5 class="mb-0">Your Tickets</h5>
        </div>
        <div class="card-body">
          <app-tickets></app-tickets>
        </div>
      </div>
    </div>
  </form>
</div>