
<form>
    <h1 class="text-center">Registration Form</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="title">Title</label>
                    <select name="title" id="title" class="form-control">
                        <option value=""></option>
                        <option value="Mr">Mr</option>
                        <option value="Mrs">Mrs</option>
                        <option value="Miss">Miss</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email Id</label>
                    <input type="text" id="email" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" class="form-control">
                </div>
                <div class="form-group">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input type="date" id="dateOfBirth" class="form-control" name="date">
                </div>
                <div class="form-group">
                    <label for="phoneNo">Phone No</label>
                    <input type="text" id="phoneNo" class="form-control">
                </div>
                <button type="submit" class="btn btn-secondary">Cancel</button>
            </div>
        </div>
    </div>
</form>