<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Password Reset</h5>
          <form>
              <div class="mb-3">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter your email">
              </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label">Enter New Password</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword" required>
            </div>
            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>