.container-fluid.bg-light {
    /* Existing styles */
    background-color: lightgray;
    border: 1px solid #ccc;

    /* Increase the padding to 30px on all sides */
    padding: 13px;
}

.container-fluid {
    border: 1px solid black;
    background-color: rgb(240, 245, 243);
}

.bg-cp {
    background-color: rgb(173, 181, 188);
}

.container-fluid.text-center.bg-primary h5 {
    margin-top: 20px;
    color: aliceblue;
}

.inp-width {
    width: 230px;

}

.inp-height {
    height: 52px;
}

.number {

    width: 48px;
}

#search-btn {
    background-color: rgb(247, 127, 8);
    height: 52px;
    margin-top: 70px;
    margin-left: 30%;
}

.nav-btn {
    margin-left: 10px;
}

#arrow1 {
    margin-left: -18px;
    border-radius: 20px;
    border: 1px solid rgb(50, 109, 237);
    position: absolute;
    padding: 9px;
    margin-top: -9px;
}

.rounded {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
    height: 300px;
}

.e1 {
    margin: 5px;
}

.e5 {
    width: 25%;
}

.d-flex {
    margin-top: 25px;
}

span {
    cursor: pointer;
}

.minus,
.plus {
    width: 30px;
    height: 32px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 3px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

input {
    height: 34px;
    width: 40px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

.c1 {

    padding: 17px;
    border: 1px solid rgb(108, 106, 106);
    border-radius: 20px;
    height: 20vh;
}