
<div class="container-fluid text-center bg-primary bg-gradient">
  <h5>Domestic and International Flights</h5>
  <div class="container">
    <div class="row">
      <div class="col-1">
      </div>
      <div class="rounded p-3 bg-light col-10 mb-4 mb-md-0">
        <form (ngSubmit)="searchFlight()">
          <div class="d-flex align-items-center">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label fw-bold fs-7" for="flexRadioDefault1">
                Return
              </label>
            </div>
            <div class="form-check mx-2">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label fw-bold fs-7" for="flexRadioDefault2">
                One way
              </label>
            </div>
          </div>
          <div class="d-flex align-items-center ">
            <div class="e1">
              <label for="exampleDataList1" class="form-label fw-bold m-0">From</label>
              <input class="form-control inp-width inp-height" list="datalistOptions1" id="exampleDataList1"
                [(ngModel)]="city1" name="city1" placeholder="Airport or City" type="text">
              <datalist id="datalistOptions1">
                <option value="Mumbai"></option>
                <option value="Bengaluru"></option>
                <option value="New Delhi"></option>
                <option value="Kolkata"></option>
                <option value="Hyderabad"></option>
                <option value="Chennai"></option>
              </datalist>
            </div>

            <div>
              <button id="arrow1" (click)="swapCities()">
                <div>
                  <i class="bi bi-arrow-left-right"></i>
                </div>
              </button>
            </div>
            <div class="e1">
              <label for="exampleDataList2" class="form-label fw-bold m-0">TO</label>
              <input class="form-control inp-width inp-height" list="datalistOptions2" id="exampleDataList2"
                [(ngModel)]="city2" name="city2" placeholder="Airport or City">
              <datalist id="datalistOptions2">
                <option value="Mumbai"></option>
                <option value="Bengaluru"></option>
                <option value="New Delhi"></option>
                <option value="Kolkata"></option>
                <option value="Hyderabad"></option>
                <option value="Chennai"></option>
              </datalist>
            </div> 

            <div class="e1">
              <div class="lable fw-bold">Depart</div>
              <input type="date" name="" id="" class="form-control inp-height">
            </div>

            <div class="e1">
              <div class="lable fw-bold">Return</div>
              <input type="date" name="" id="" class="form-control inp-height">
            </div>
            <div class="e5">
              <label class="fw-bold ">Class</label>
              <input class="form-control inp-width inp-height" [(ngModel)]="selectedClass" name="selectedClass"
                placeholder="Select Class" list="datalistOptions3" type="text">
              <datalist id="datalistOptions3">
                <option value="Economy">Economy</option>
                <option value="First">First</option>
                <option value="Business">Business</option>
              </datalist>

            </div>
          </div>
          <div class="d-flex align-items h-25 justify-content-between">
            <div class="container d-flex mt-2 ">
              <h6>Type:</h6>
              <div class="btn-group" role="group" aria-label="Basic radio button group">
                <label>
                  <input type="radio" name="btnradio" id="btnradio1" checked>
                  Regular
                </label>

                <label>
                  <input type="radio" name="btnradio" id="btnradio2">
                  ArmedForces
                </label>
                <label>
                  <input type="radio" name="btnradio" id="btnradio4">
                  Student
                </label>

                <label>
                  <input type="radio" name="btnradio" id="btnradio5">
                  Doctors & Nurses
                </label>
              </div>


            </div>

            <button type="submit" id="search-btn" class="btn btn-success fw-bold btn-lg position-absolute ">
              SearchFlight
              <!-- <a style="text-decoration:none ; color: white;" href="/showflight">Search Flights</a> -->
            </button>
            <div>
              <div class="form-group">
                <label for="totalPassengers">Passengers</label>
                <input type="number" class="form-control" id="totalPassengers" name="totalPassengers"
                  [value]="totalPassengers" (click)="toggleTravelerInputs()" [(ngModel)]="Passengers">

                <div class="row" id="travelerInputs" *ngIf="showTravelerInputs">
                  <div class="col-md-4">
                    <label for="children">Children</label>
                    <input type="number" class="form-control" id="children" name="children" [(ngModel)]="children"
                      min="0" max="10" (change)="updateTotalPassengers()">
                  </div>
                  <div class="col-md-4">
                    <label for="adults">Adults</label>
                    <input type="number" class="form-control" id="adults" name="adults" [(ngModel)]="adults" min="1"
                      max="10" (change)="updateTotalPassengers()">
                  </div>
                  <div class="col-md-4">
                    <label for="infants">Infants</label>
                    <input type="number" class="form-control" id="infants" name="infants" [(ngModel)]="infants" min="0"
                      max="10"  (change)="updateTotalPassengers()" >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- Remove the container if you want to extend the Footer to full width. -->
      <div class="container my-5">
        <h2 style="color: white;"> Our Top-selling international destinations:</h2>
        <div class="text-center text-white  bg-light" >
          <!-- Grid container -->
          <div class="container p-4">
            <!-- Section: Images -->
            <section class="">
              <div class="row">
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                    <img src="https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcRr3ZCXpOCbOylnPk-iqi0q_YHA9d2iDRHIYw86ArMtFDppqzJTO5Eam8eWqDLenRQG5F73ZFL2G8IgHRBRxzjMfuyeoT9T38iFnWoBaw" class="w-100" />
                    <h2 style="color: black;">Mumbai</h2>
                    <p style="color: black;">Explore flights starting @</p><br>
                    <h2 style="color: black;">RS 8,012</h2>
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                    <img src="https://encrypted-tbn0.gstatic.com/licensed-image?q=tbn:ANd9GcQc3dwcPHZmlQ4HYfFY5fJ_cHp7GiGWawS8tcvDaD4X0lqPi9SrFX8CjwqtPx0zrvz9lRSvliN6h_rWgqC0KMBpXFN3NtUAhodc20JCKA" class="w-100" />
                    <h2 style="color: black;">Goa</h2>
                    <p style="color: black;">Explore flights starting @</p><br>
                    <h2 style="color: black;">RS 6,012</h2>
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                    <img src="https://lh5.googleusercontent.com/proxy/Wjn-MZbtcTiGNoeguVIHalSW8ACnEK8aQKGeg47MacSlJHLitMkIsyGghAR1ZNlh1A8mKYcOhhd51ZFwzU8EBxqByuIiGNoBLC4DFR68wHOhye6SHpXywLUZUtZzPQVScZwaSu2jHRvwdko0o6m66RxcstOFQG8=w810-h468-n-k-no" class="w-100" />
                    <h2 style="color: black;">New Delhi</h2>
                    <p style="color: black;">Explore flights starting @</p><br>
                    <h2 style="color: black;">RS 5,012</h2>
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                    <img src="https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcQTejm2m32OI3N7qQcbZAc-3ollIt8RLoGAXV8uz0eidghrEknK-3tyO00voh3ZAlkq5cmRbLVAnQ0AeDdVPsS_YSOefxEi3AhXheQCng" class="w-100" />
                    <h2 style="color: black;">Hyderabad</h2>
                    <p style="color: black;">Explore flights starting @</p><br>
                    <h2 style="color: black;">RS 9,012</h2>
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                    <img src="https://lh5.googleusercontent.com/p/AF1QipPunj4e9nKHQpZtQV_9VEsd70EUzBbOIsewoRFw=w810-h468-n-k-no" class="w-100" />
                    <h2 style="color: black;">Kolkatta</h2>
                    <p style="color: black;">Explore flights starting @</p><br>
                    <h2 style="color: black;">RS 7,012</h2>
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                    <img src="https://encrypted-tbn1.gstatic.com/licensed-image?q=tbn:ANd9GcQ15RkqGDKDekDY0V0LtYcKSbAAoydOABOVgpefSe-RFfw1Y_-Nf60YecELz4xc3HQ_OLHKwVQhpFRaWwuqal2oMHXJwdktaNOzqTin8w" class="w-100" />
                    <h2 style="color: black;">Chennai</h2>
                    <p style="color: black;">Explore flights starting @</p><br>
                    <h2 style="color: black;">RS 8,012</h2>
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>
              </div>
            </section>
            <!-- Section: Images -->
          </div>
          
        </div>

      </div>
      <!-- End of .container -->
      <div class="col-1">

      </div>
    </div>
  </div>
</div>