<div class="container-fluid text-center bg-primary">
  <h5>Domestic and International Flights</h5>
  <div class="container">
    <div class="row">
      <div class="col-1">
      </div>
      <div class="rounded p-3 bg-light col-10 mb-4 mb-md-0">
        <form (ngSubmit)="searchFlight()">
          <div class="d-flex align-items-center">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label fw-bold fs-7" for="flexRadioDefault1">
                Return
              </label>
            </div>
            <div class="form-check mx-2">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label fw-bold fs-7" for="flexRadioDefault2">
                One way
              </label>
            </div>
          </div>
          <div class="d-flex align-items-center ">
            <div class="e1">
              <label for="exampleDataList1" class="form-label fw-bold m-0">From</label>
              <input class="form-control inp-width inp-height" list="datalistOptions1" id="exampleDataList1"
                [(ngModel)]="city1" name="city1" placeholder="Airport or City" type="text">
              <datalist id="datalistOptions1">
                <option value="Mumbai"></option>
                <option value="Banglore"></option>
                <option value="New Delhi"></option>
                <option value="Kolkatta"></option>
                <option value="Hyderabad"></option>
                <option value="Chennai"></option>
              </datalist>
            </div>

            <div>
              <button id="arrow1" (click)="swapCities()">
                <div>
                  <i class="bi bi-arrow-left-right"></i>
                </div>
              </button>
            </div>
            <div class="e1">
              <label for="exampleDataList2" class="form-label fw-bold m-0">TO</label>
              <input class="form-control inp-width inp-height" list="datalistOptions2" id="exampleDataList2"
                [(ngModel)]="city2" name="city2" placeholder="Airport or City">
              <datalist id="datalistOptions2">
                <option value="Mumbai"></option>
                <option value="Banglore"></option>
                <option value="New Delhi"></option>
                <option value="Kolkatta"></option>
                <option value="Hyderabad"></option>
                <option value="Chennai"></option>
              </datalist>
            </div> 

            <div class="e1">
              <div class="lable fw-bold">Depart</div>
              <input type="date" name="" id="" class="form-control inp-height">
            </div>

            <div class="e1">
              <div class="lable fw-bold">Return</div>
              <input type="date" name="" id="" class="form-control inp-height">
            </div>
            <div class="e5">
              <label class="fw-bold ">Class</label>
              <input class="form-control inp-width inp-height" [(ngModel)]="selectedClass" name="selectedClass"
                placeholder="Select Class" list="datalistOptions3" type="text">
              <datalist id="datalistOptions3">
                <option value="Economy">Economy</option>
                <option value="First">First</option>
                <option value="Business">Business</option>
              </datalist>

            </div>
          </div>
          <div class="d-flex align-items h-25 justify-content-between">
            <div class="container d-flex mt-2 ">
              <h6>Type:</h6>
              <div class="btn-group" role="group" aria-label="Basic radio button group">
                <label>
                  <input type="radio" name="btnradio" id="btnradio1" checked>
                  Regular
                </label>

                <label>
                  <input type="radio" name="btnradio" id="btnradio2">
                  ArmedForces
                </label>
                <label>
                  <input type="radio" name="btnradio" id="btnradio4">
                  Student
                </label>

                <label>
                  <input type="radio" name="btnradio" id="btnradio5">
                  Doctors & Nurses
                </label>
              </div>


            </div>

            <button type="submit" id="search-btn" class="btn btn-success fw-bold btn-lg position-absolute ">
              SearchFlight
              <!-- <a style="text-decoration:none ; color: white;" href="/showflight">Search Flights</a> -->
            </button>
            <div>
              <div class="form-group">
                <label for="totalPassengers">Passengers</label>
                <input type="number" class="form-control" id="totalPassengers" name="totalPassengers"
                  [value]="totalPassengers" (click)="toggleTravelerInputs()" [(ngModel)]="Passengers">

                <div class="row" id="travelerInputs" *ngIf="showTravelerInputs">
                  <div class="col-md-4">
                    <label for="children">Children</label>
                    <input type="number" class="form-control" id="children" name="children" [(ngModel)]="children"
                      min="0" max="10" (change)="updateTotalPassengers()">
                  </div>
                  <div class="col-md-4">
                    <label for="adults">Adults</label>
                    <input type="number" class="form-control" id="adults" name="adults" [(ngModel)]="adults" min="1"
                      max="10" (change)="updateTotalPassengers()">
                  </div>
                  <div class="col-md-4">
                    <label for="infants">Infants</label>
                    <input type="number" class="form-control" id="infants" name="infants" [(ngModel)]="infants" min="0"
                      max="10"  (change)="updateTotalPassengers()" >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- Remove the container if you want to extend the Footer to full width. -->
      <div class="container my-5">

        <div class="text-center text-white" style="background-color: #caced1;">
          <!-- Grid container -->
          <div class="container p-4">
            <!-- Section: Images -->
            <section class="">
              <div class="row">
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/fluid/city/113.jpg" class="w-100" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/fluid/city/111.jpg" class="w-100" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/fluid/city/112.jpg" class="w-100" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/fluid/city/114.jpg" class="w-100" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/fluid/city/115.jpg" class="w-100" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                  <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
                    <img src="https://mdbootstrap.com/img/new/fluid/city/116.jpg" class="w-100" />
                    <a href="#!">
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                    </a>
                  </div>
                </div>
              </div>
            </section>
            <!-- Section: Images -->
          </div>
          <!-- Grid container -->

          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white" href="#">Airline.com</a>
          </div>
          <!-- Copyright -->
        </div>

      </div>
      <!-- End of .container -->
      <div class="col-1">

      </div>
    </div>
  </div>
</div>