<div class="container-fluid p-5 mt-5 bg-primary text-white text-center">
    <h2 style="margin-left: auto;">Booking Review</h2>
    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3>TICKET DETAILS</h3>
                    <div class="card-content m-1 p-2" style="border:1px dotted black">
                        <div class="card-title">
                            <div class="a-1" style="display:flex;">
                                <div>
                                    <h4 style="margin-right: 80px;">08-oct-2023</h4>
                                </div>
                                <div>
                                    <h4 style="margin-left:30px;">HYD 6:30pm</h4>
                                </div>
                                <div>
                                    <h4 style="margin-left:150px;">2hr</h4>
                                </div>
                                <div>
                                    <h4 style="margin-right:-400px">8:30pm BOM</h4>
                                </div> <!-- <div> <h4>E-time</h4> </div> -->
                            </div>
                        </div>
                        <div class="card-heading" style="display: inline-flex;">
                        </div>
                        <div class="card-line mt-2" style="border-bottom:1px dashed;">
                        </div>
                        <div class="card-section" style="display: inline-flex">
                            <div>
                                <h4 style="margin-right:40px;">04-oct-2023</h4>
                            </div>
                            <div>
                                <h4 style="margin-left:100px;">HYD6:30pm</h4>
                            </div>
                            <div>
                                <h4 style="margin-left:150px;">2hr</h4>
                            </div>
                            <div>
                                <h4 style="margin-right:-500px">8:30pmBOM</h4>
                            </div>
                            <a href="#" style="margin-left: 420px;">View Baggage details</a>
                        </div>

                        <!-- <div class="card-shape p-3" style="width: 53rem; background-color:ghostwhite;"> <h6>9h 35m Layover in Bengaluru</h6> <p>brc Terminal change brc Baggage re-check in will be required</p> </div> -->
                        <!-- <div class="card-shape p-3" style="width: 53rem; background-color:ghostwhite;"> <h6>9h 35m Layover in Bengaluru</h6> <p>brc Terminal change brc Baggage re-check in will be required</p> </div> -->
                        <div class="card-line mb-2" style="border-bottom:1px dotted;"> </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="a1" style="margin-left: 20px;margin-top: 10px;">
                    <h4 style="float: left;">Fare Summary</h4>
                </div>
                <div class="card-body">
                    <div class="card-line mb-2" style="border-bottom:1px solid;">
                    </div>
                    <div class="a" style="display:inline-flex">
                        <h5 class="card-title">Base Fare</h5>
                        <h3 style="margin-left: 250px;">6613</h3>
                    </div>
                    <div class="a" style="display:inline-flex">
                        <p style="margin-right: 250px;">Adult(1x₹6,613)</p>
                        <p>₹.6613</p>
                    </div>
                    <div class="card-line mb-2" style="border-bottom:1px solid;">
                    </div>
                    <div class="b p-3" style="display:inline-flex">
                        <p class="card-text">TaxesandSurcharges</p>
                        <p style="margin-left: 200px;">₹.1966</p>
                    </div>
                    <div class="card-line mb-2" style="border-bottom:1px solid;"> </div>
                    <div>
                        <p>Donate ₹10 towards flood relief efforts in Himachal Pradesh. </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card "
            style="width: 57rem;margin-top:10px;margin-left:10px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <div class="card-body">
                <h5 class="card-title mt-3">GOIBIBO OFFERS</h5>
                <div class="card-line mt-5" style="border-bottom:1px dashed;">
                </div>
                <div class="card-label mt-3">
                    <h4>GISUPER</h4>
                    <input type="radio" /> Get INR 439 instant discount + 25 extra on UPI
                </div>
                <div class="card-line mt-3" style="border-bottom:1px solid gray;">
                </div>
                <div class="card-label mt-3">
                    <h4>HDFCEMI</h4>
                    <input type="radio" /> Get Rs. 1000 instant discount with HDFC Bank Credit & Debit Card EMI.
                </div>
                <div class="card-line mt-3" style="border-bottom:1px solid gray;">
                </div>
                <div class="card-label mt-4">
                    <h4>GIBFLEMI </h4>
                    <input type="radio" /> Get Rs. 1000 instant discount with HDFC Bank Credit & Debit Card EMI.
                </div>
            </div>
        </div>
        <div class="card mb-5"
            style="width: 28rem;margin-left:auto;margin-top: 20px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <div class="card-body">
                <h5 class="card-title">GOIBIBO OFFERS</h5>
                <div class="card-line mb-2" style="border-bottom:1px dashed;">
                </div>
                <div class="card-label" style="margin-bottom:15px">
                    <input type="radio"><span>GISUPER</span>
                    <p>Get INR 340 instant discount + 25 extra on UPI</p>
                    <div class="card-line mb-2" style="border-bottom:1px solid gray;">
                    </div>
                    <div class="card-label">
                        <input type="radio" /><span>SAVEMORE</span>
                        <p>Get INR 199 Instant Discount</p>
                    </div>
                    <div class="card-line mb-2" style="border-bottom:1px dashed gray;">
                    </div>
                    <div class="card-label">
                        <input type="radio" /><span>SAVE</span>
                        <p>Get INR 299 Instant Discount</p>
                    </div>
                    <div class="card-line mb-2" style="border-bottom:1px solid gray;">
                    </div>
                    <div>
                        <p>Donate ₹10 towards flood relief efforts in Himachal Pradesh. </p>
                    </div>
                    <div class="card-line mb-2" style="border-bottom:1px solid gray;">
                    </div>
                    <div>
                        <p>Donate ₹10 towards flood relief efforts in Himachal Pradesh. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card"
    style="width: 86rem;margin-left:50px;margin-top:25px;background-color: white;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <div class="card-body">
        <div class="v" style="display: inline-flex;">
            <div class="v1" style="margin-right:1100px;">
                <h3>INSURANCE</h3>
            </div>
            <div class="v2">
                <a href="#">Edit</a>
            </div>
        </div>
    </div>
</div>
<div class="card"
    style="width: 86rem;margin-left:50px;margin-top:25px;background-color: white;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <div class="card-body">
        <div class="v" style="display: inline-flex;">
            <div class="v1" style="margin-right:1080px;">
                <h5>GOIBIBO EXCLUSIVE</h5>
            </div>
            <div class="v2">
                <a href="#">Edit</a>
            </div>
        </div>
    </div>
</div>
<div class="card"
    style="width: 86rem;margin-left:50px;margin-top:25px;background-color: white;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <div class="card-body">
        <h3>YOUR PINCODE AND STATE</h3>
        <p>(Required for GST purpose on your tax invoice. You can edit this anytime later in your profile
            section. )</p>
        <div class="f" style="display: inline-flex;margin-top:15px ;">
            <input type="text" placeholder="Enter Billing Address" style="padding: 15px;margin-left:30px ;">
            <input type="text" placeholder="Enter Pincode" style="padding: 15px;margin-left:200px ;">
            <select name="a2" id="1" class="a3" style="margin-left: 200px;width: 200px;background-color: white;">
                <option value="Maharastra">Gujrat</option>
                <option value="Maharastra">Karnataka</option>
                <option value="Maharastra">Maharastra</option>
            </select>
        </div>
        <div class="a3" style="margin-top:20px;"><input type="checkbox"> Confirm and save billing details to your
            profile</div>
    </div>
</div>
<div class="card"
    style="width: 86rem;margin-left:50px;margin-top:45px;background-color: white;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
    <div class="card-body">
        <div class="v" style="display: inline-flex;">
            <div class="v1" style="margin-right:1080px;">
                <h5>TRAVELLER DETAILS</h5>
            </div>
            <div class="v2">
                <a href="#">Edit</a>
            </div>
        </div>
    </div>
</div>


<div class="plane">
    <div class="select">
        <h1>Please Select a seat</h1>
    </div>
    <div class="exit"></div>
    <ol>
        <li>
            <ol class="seats">
                <li class="seat"> <input type="checkbox" id="1A"> <label for="1A">1A</label> </li>
                <li class="seat"> <input type="checkbox" id="1B"> <label for="1B">1B</label> </li>
                <li class="seat"> <input type="checkbox" id="1C"> <label for="1C">1C</label> </li>
                <li class="seat"> <input type="checkbox" id="1D"> <label for="1D">1D</label> </li>
                <li class="seat"> <input type="checkbox" id="1E"> <label for="1E">1E</label> </li>
                <li class="seat"> <input type="checkbox" id="1F"> <label for="1F">1F</label> </li>
            </ol>
        </li>
        <li>
            <ol class="seats">
                <li class="seat"> <input type="checkbox" id="2A"> <label for="2A">2A</label> </li>
                <li class="seat"> <input type="checkbox" id="2B"> <label for="2B">2B</label> </li>
                <li class="seat"> <input type="checkbox" id="2C"> <label for="2C">2C</label> </li>
                <li class="seat"> <input type="checkbox" id="2D"> <label for="2D">2D</label> </li>
                <li class="seat"> <input type="checkbox" id="2E"> <label for="2E">2E</label> </li>
                <li class="seat"> <input type="checkbox" id="2F"> <label for="2F">2F</label> </li>
            </ol>
        </li>
        <li>
            <ol class="seats">
                <li class="seat"> <input type="checkbox" id="3A"> <label for="3A">3A</label> </li>
                <li class="seat"> <input type="checkbox" id="3B"> <label for="3B">3B</label> </li>
                <li class="seat"> <input type="checkbox" id="3C"> <label for="3C">3C</label> </li>
                <li class="seat"> <input type="checkbox" id="3D"> <label for="3D">3D</label> </li>
                <li class="seat"> <input type="checkbox" id="3E"> <label for="3E">3E</label> </li>
                <li class="seat"> <input type="checkbox" id="3F"> <label for="3F">3F</label> </li>
            </ol>
        </li>
        <li>
            <ol class="seats">
                <li class="seat"> <input type="checkbox" id="4A"> <label for="4A">4A</label> </li>
                <li class="seat"> <input type="checkbox" id="4B"> <label for="4B">4B</label> </li>
                <li class="seat"> <input type="checkbox" id="4C"> <label for="4C">4C</label> </li>
                <li class="seat"> <input type="checkbox" id="4D"> <label for="4D">4D</label> </li>
                <li class="seat"> <input type="checkbox" id="4E"> <label for="4E">4E</label> </li>
                <li class="seat"> <input type="checkbox" id="5F"> <label for="5F">5F</label> </li>
            </ol>
        </li>
        <li>
            <ol class="seats">
                <li class="seat"> <input type="checkbox" id="5A"> <label for="5A">5A</label> </li>
                <li class="seat"> <input type="checkbox" id="5B"> <label for="5B">5B</label> </li>
                <li class="seat"> <input type="checkbox" id="5C"> <label for="5C">5C</label> </li>
                <li class="seat"> <input type="checkbox" id="5D"> <label for="5D">5D</label> </li>
                <li class="seat"> <input type="checkbox" id="5E"> <label for="5E">5E</label> </li>
                <li class="seat"> <input type="checkbox" id="5F"> <label for="5F">5F</label> </li>
            </ol>
        </li>
        <li>
            <ol class="seats">
                <li class="seat"> <input type="checkbox" id="6A"> <label for="6A">6A</label> </li>
                <li class="seat"> <input type="checkbox" id="6B"> <label for="6B">6B</label> </li>
                <li class="seat"> <input type="checkbox" id="6C"> <label for="6C">6C</label> </li>
                <li class="seat"> <input type="checkbox" id="6D"> <label for="6D">6D</label> </li>
                <li class="seat"> <input type="checkbox" id="6E"> <label for="6E">6E</label> </li>
                <li class="seat"> <input type="checkbox" id="6F"> <label for="6F">6F</label> </li>
            </ol>
        </li>
        <li>
            <ol class="seats">
                <li class="seat"> <input type="checkbox" id="7A"> <label for="7A">7A</label> </li>
                <li class="seat"> <input type="checkbox" id="7B"> <label for="7B">7B</label> </li>
                <li class="seat"> <input type="checkbox" id="7C"> <label for="7C">7C</label> </li>
                <li class="seat"> <input type="checkbox" id="7D"> <label for="7D">7D</label> </li>
                <li class="seat"> <input type="checkbox" id="7E"> <label for="7E">7E</label> </li>
                <li class="seat"> <input type="checkbox" id="7F"> <label for="7F">7F</label> </li>
            </ol>
        </li>
        <li>
            <ol class="seats">
                <li class="seat"> <input type="checkbox" id="8A"> <label for="8A">8A</label> </li>
                <li class="seat"> <input type="checkbox" id="8B"> <label for="8B">8B</label> </li>
                <li class="seat"> <input type="checkbox" id="8C"> <label for="8C">8C</label> </li>
                <li class="seat"> <input type="checkbox" id="8D"> <label for="8D">8D</label> </li>
                <li class="seat"> <input type="checkbox" id="9E"> <label for="9E">9E</label> </li>
                <li class="seat"> <input type="checkbox" id="9F"> <label for="9F">9F</label> </li>
            </ol>
        </li>
        <li>
            <ol class="seats">
                <li class="seat"> <input type="checkbox" id="10A"> <label for="10A">10A</label> </li>
                <li class="seat"> <input type="checkbox" id="10B"> <label for="10B">10B</label> </li>
                <li class="seat"> <input type="checkbox" id="10C"> <label for="10C">10C</label> </li>
                <li class="seat"> <input type="checkbox" id="10D"> <label for="10D">10D</label> </li>
                <li class="seat"> <input type="checkbox" id="10E"> <label for="10E">10E</label> </li>
                <li class="seat"> <input type="checkbox" id="10F"> <label for="10F">10F</label> </li>
            </ol>
        </li>
    </ol>
    <div class="exit"></div>
    <button>Payment</button>
</div>
